<table style="width: 100%;">
    <tr>
        <td>
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                <span class="title headline-xl-govco">Infórmate</span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 70%;">
            <div class="card govco-card ">
                <img src="./assets/persona-grupo.jpg" class="card-img govco-card-image govco-card-image-top" alt="..." />
                <div class="card-body">
                  <p>Esta card contiene una imagen y una breve descripción </p>
                </div>
              </div>
        </td>
        <td style="width: 30%;">
            <div class="card govco-card " style="height: 200%;">
                <img src="./assets/fondoplantas.jpg" class="card-img govco-card-image govco-card-image-top" alt="..." />
                <div class="card-body">
                  <p>Esta card contiene una imagen y una breve descripción </p>
                </div>
              </div>
        </td>
    </tr>
</table>

