<div>
  
    <table style="width: 100%;" >
        <tr>
         
          <td>
            <div class="card govco-card">
              
              <div class="card-body">
                
                <div class="accordion accordion-govco" id="EjemploAccordion1">
                  <div class="card">
                      <div class="card-header row no-gutters" id="headingUno">
                          <button class="btn-link row no-gutters collapsed" type="button" data-toggle="collapse" data-target="#collapseUno" aria-expanded="false" aria-controls="collapseUno">
                              <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                                  <span class="title headline-xs-govco">Lista de tramites mas Usados</span>
                              </div>
                              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                  <div class="btn-icon-close">
                                      <span class="label-icon">menos</span>
                                      <span class="govco-icon govco-icon-minus"></span>
                                      <span class="govco-icon govco-icon-plus"></span>
                                  </div>
                              </div>
                          </button>
                      </div>
                      <div id="collapseUno" class="collapse" aria-labelledby="headingUno" data-parent="#EjemploAccordion1">
                        <ul class="list-group">
                          <li class="list-group-item" *ngFor="let item of tramitebd">
                            <h6>{{item.nombre}} </h6>
                          </li>
                          
                        </ul>
                      </div>
                  </div>
                  
                </div>
              </div>
              
          </div>
         </td>
          <td>
            <div>
                 <ul class="list-group list-group-flush">
                  <li class="list-group-item" *ngFor="let item of tramitebd">
                    <h6>{{item.nombre}} </h6>
                      <span class="govco-icon govco-icon-check-cn size-1x">Disponibilidad en Linea</span>
                      <span class="govco-icon govco-icon-peso-col-cp size-1x">Tramite con Costo</span>
                      <p><a class="govco-icon size-1x" href="#XXX">Ver todo el Tramite</a> </p>
                  </li>
                  
                </ul>
            </div>
            
          </td>
        </tr>
      </table>
     

    