<div class="container">
  
    <table>
        <tr>
          <td style="width: 60%;">
            <div class="card-body">
              <p class="card-text">Queremos conocer tu opinion</p>
              <p class="card-text">Falta un dia </p>
              <p class="card-text">Unete al pacto por colombia</p>
              
            </div>
          </td>
          <td style="width: 40%;">
            <div class="card govco-card">
              
              <div class="card-body">
                
                <h1>
                    <p class="card-text headline-xl-govco">Cuéntanos</p>
                    <p class="card-text headline-m-govco">¿Como podemos mejorar GOV.COM? </p>
                    <p class="card-text headline-xs-govco">Estamos costruyendo este espacio para ti y tu opinion nos ayuda a crecer</p>
                </h1>
                <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" maxlength="300">
                </textarea>
                </div>
              </div>
              
          
            
          
          
          </td>

        </tr>
      </table>
