<div class="container">
<table>
    <tr>
      <td>
        <app-cabecera>

        </app-cabecera>
      </td>
    </tr>
    <tr>
      <td>
        <div style="width:100%; height: 200px; background-image: url('./assets/banderalogo.jpg')"> 
          <div class="form-inline justify-content-center">
              <span class="title headline-xxl-govco text-white">¡Te damos la Bienvenida!</span>
          </div>
          
          <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container justify-content-center">
            <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
                type="search"
                placeholder="Buscar "
                aria-label="Search"
                name="searchTerm"
                id="search-desktop"
            />
            <span class="govco-icon govco-icon-search-cn icon-search notranslate" ></span>
          </div>
          <div class="form-inline justify-content-center">
              <span class="small-text-govco text-white">Toda la oferta del estado colombiano a tu alcance. </span>
        </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="card govco-card">
            <div class="card-body">
              <router-outlet></router-outlet>
               
               <!--<app-tramites>  </app-tramites>-->
               <!-- <app-opinion>  </app-opinion>
               <app-interes>  </app-interes>
               <app-informate>  </app-informate>-->
            </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <app-piede-pagina>

        </app-piede-pagina>
      </td>
    </tr>

</table>

</div>